@{
    ViewData["Title"] = "Home Page";
}


<section class="hero">
    <div class="hero-main">
        <div class="hero-main-right">
            <h1>Välkommen till BokLoftet</h1>
            <h3>Utforska en värld av kunskap och inspiration</h3>
            <p>Upptäck vår omfattande samling av böcker, tidningar och digitala resurser. Oavsett om du letar efter den senaste bestsellern eller en klassisk favorit, har BokLoftet något för alla.</p>
            <a href="/book"><button class="main-btn">Sök böcker</button></a>
        </div>
    </div>
</section>

