@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen till BokLoftet</h1>
    <p>Vi tillhandahåller ett stort bibliotek med variande innehåll för utlåning till registrerade medlemmar.</a>.</p>
</div>
